<div class="modal fade" id="feedbackModalToggle" aria-hidden="true"
     aria-labelledby="feedbackModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-fullscreen-lg-down">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="feedbackModalToggleLabel">Assessment Feedback</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            {# FEEDBACK FORM #}
            <form action="{{ url_for('report.update_feedback', feedback_id=attempt_id) }}" method="post"
                  id="feedback-form">
                <div class="modal-body">

                    {{ form.hidden_tag() }}
                    <div class="border border-1 rounded">
                        <div class="col-md-12" id="editor">
                            {{ form.feedback(class="form-control", id="feedback-field") | safe }}
                            {{ form.feedback.default | safe }}
                            {% for error in form.feedback.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
{#                    <button data-bs-toggle="modal" class="btn btn-dark me-auto rounded-0"#}
{#                            data-bs-target="#markModal"#}
{#                            data-bs-mark="{{ assessmentDetails.marks }}"#}
{#                            data-bs-passmark="{{ assessmentDetails.passmark }}"#}
{#                    >Edit Mark<i class="fa-solid ms-2 fa-arrow-right"></i>#}
{#                    </button>#}
                    <button data-bs-dismiss="modal" type="button"
                            class="btn btn-secondary rounded-0">
                        Close
                    </button>
                    <button class="btn btn-primary rounded-0" name="submit" type="submit"
                            onclick="saveFeedback()">Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>